#upper_right_corner {
    position: absolute;
    top: 0;
    right: 0;
    child-align: left;
}

table {
	border: 1px solid black;
	border-collapse: collaps;
}

th, td {
	border: 1px solid black;
	border-collapse: collaps;
	text-align: center;
	padding: .5em;
}
